:root {
  --Blue: hsl(246, 80%, 60%);
  --Desaturated_blue: hsl(235, 45%, 61%);
  --Very_dark_blue: hsl(226, 43%, 10%);
  --Dark_blue: #1c1f4a;
  --Pale_Blue: hsl(236, 100%, 87%);
}

@font-face {
  font-family: "";
  src: url("");
  /* font-weight: ; */
}

html,
body {
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  background-color: var(--Very_dark_blue);
  color: #fff;

  height: 100%;
  font-family: "Rubik", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridContainer {
  margin: 0 50px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  flex-basis: 1000px;
}

.userInfo {
  background-color: var(--Dark_blue);
  border-radius: 15px;

  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
}

.userInfoTop {
  border-radius: 15px;
  background-color: var(--Blue);
  flex: 3;
  display: flex;
  align-items: center;
  position: relative;
}

.userInfoTop > .content {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.userPic {
  border: 2px white solid;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.userNameContainer > p:nth-child(1) {
  color: var(--Pale_Blue);
  font-weight: 500;
  font-size: 14px;
}

.userName {
  font-size: 32px;
  font-weight: 400;
}

.periodSelector {
  flex: 1;
  background-color: var(--Dark_blue);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.periodSelector button {
  border: none;
  color: var(--Desaturated_blue);
  background-color: transparent;
  cursor: pointer;
}

.selected {
  color: #fff !important;
}

.work {
  --activity-color: hsl(15, 100%, 70%);
}
.play {
  --activity-color: hsl(195, 74%, 62%);
}

.study {
  --activity-color: hsl(348, 100%, 68%);
}
.exercise {
  --activity-color: hsl(145, 58%, 55%);
}
.social {
  --activity-color: hsl(264, 64%, 52%);
}
.selfcare {
  --activity-color: hsl(43, 84%, 65%);
}

.psuedo {
  display: flex;
  flex-direction: column;
  height: 250px;
  background: linear-gradient(
    180deg,
    var(--activity-color) 0%,
    var(--activity-color) 50%,
    rgba(28, 31, 74, 1) 50%,
    rgba(28, 31, 74, 1) 100%
  );
  border-radius: 15px;
}

.psuedoBefore {
  flex: 1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--activity-color);

  /*relative to icon*/
  position: relative;
  z-index: 0;
}
.psuedoBefore > img {
  position: absolute;
  right: 20px;
  z-index: 0;
}

.activityType {
  flex: 4;
  background-color: var(--Dark_blue);
  border-radius: 15px;
  display: flex;
  align-items: center;
  /*relative to icon*/
  position: relative;
  z-index: 1;
}

.activityType .content {
  width: 80%;
  height: 80%;
  margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}


.top {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
}

.showMoreBtn {
  background-color: transparent;
  border: none;
}
.showMoreBtn > svg {
  fill: currentColor;
  color: #bbc0ff;
  cursor: pointer;
}

.showMoreBtn > svg:hover {
  color: white;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.currentHours {
  font-size: 48px;
  font-weight: 300;
}

.previousHours {
  color: var(--Desaturated_blue);
}

/*for mobile*/
@media only screen and (max-width: 579px) {
  .userInfo {
    grid-row: 1/2;
  }
  .periodSelector {
    flex-direction: row;
  }
  .userInfoTop {
    flex: 2;
  }
  .userInfoTop > .content {
    flex-direction: row;
  }
.bottom{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

  .periodSelector {
    align-items: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
